{% extends "base.html" %}

{% block body %}
<!-- <div style="color:red; font-size:2em;">hello world, {{ name }}</div>
<div style="color:#123456;">hello world, joe</div>
<div style="color:red;">hello world, scott</div> -->

<div class="container">
  <div class="blog-header">
      <h1 class="blog-title">Eunhyang Blog</h1>
      <p class="lead blog-description">Fisrt blog</p>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        {% for article in article_list %}
        <div class="index-list">
          <div class="index-title">
             <h3 class="blog-post-title" style="display:inline;"><a href="/{{article.id}}/">{{article.title}}</a></h3>
            <div class="blog-post-date">{{article.created_date}}</div> 
          </div>
          <div class="index-content">{{article.content}}</div>
          <i class="fa fa-arrow-right more" aria-hidden="true"></i><a class="more" href="/{{article.id}}/">&nbsp;Read more</a>
        </div>
        {% endfor %}
      </div>
    </div><!-- /.row -->
    {% include "sidebar.html" %}
  </div>
</div>
{% endblock %}
